/* -------- RESET -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --offset: 15px;
  --back-arrow: polygon(
    100% 0,
    calc(100% - var(--offset)) 50%,
    100% 100%,
    var(--offset) 100%,
    0 50%,
    var(--offset) 0
  );
  --front-arrow: polygon(
    0 0,
    var(--offset) 50%,
    0 100%,
    calc(100% - var(--offset)) 100%,
    100% 50%,
    calc(100% - var(--offset)) 0
  );
  --book-width:800px;
  --book-height:800px;
  --pages-height:
--pages-width:
}

html,
body {
  height: 100dvh;
}

body {
  font-family: "Onest Variable", "system-ui", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  overscroll-behavior: none;
  --clear-color: transparent;
  --dark-color: #111;
  --light-color: #111a;
  background: radial-gradient(var(--clear-color) 70%, var(--light-color)),
    linear-gradient(
      var(--clear-color) 30%,
      var(--light-color) 45%,
      var(--dark-color) 75%
    ),
    url("./assets/css.avif");
  background-repeat: no-repeat;
  background-size: cover;
  perspective: 3000px;
}

.main-section {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  padding:clamp(1rem,4vw,4rem)
}

.main-header {
  padding: 2rem clamp(1rem, 4vw, 4rem);
  width: 100%;
}

.form-container {
  width: 100%;
  max-width: 800px;
  margin: 1rem auto 0;
  position: relative;
  min-height: 79px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}
.labelform {
  width: 100%;
  display: inline-flex;
  position: relative;
}

.input-form {
  font-family: sans-serif;
  color: #9961d1;
  z-index: 10;
  background: #000c;
  border: 0;
  outline: 0;
  width: 100%;
  height: 3.75rem;
  padding-left: 2.8rem;
  font-size: 1.3rem;
  transition: background 0.3s, border-color 0.6s;
}

.input-form:hover {
  background-color: #000;
}

.search-icon {
  --size: 24px;
  --color: #fffa;
  width: var(--size);
  height: var(--size);
  color: var(--color);
  z-index: 10;
  align-self: center;
  position: absolute;
  left: 10px;
}

/* -------- LAYOUT -------- */

.container {
  z-index: 1;
  perspective: 3000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  /* padding: 2rem; */
}

.book {
  position: relative;
  width:100%;
  height:var(--book-height);
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  display: flex;
  align-items: center;
}

/* -------- LATERAL -------- */
.left-side {
  position: absolute;
  top: 0;
  left: -20px;
  width: 40px;
  height: 100%;
  background: #0c0c0c;
  transform: rotate3d(0, 1, 0, -90deg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  box-shadow: inset 0px 0px 8px #a5a5a5;
}

.left-side p {
  writing-mode: vertical-rl;
  text-align: center;
}

.left-side p span:first-child {
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 20px;
}
.left-side p span:last-child {
  font-weight: 400;
  font-size: 13px;
  padding-bottom: 20px;
}

/* -------- COVER -------- */
#portada {
  background: #000;
}

#portada::after {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.cover,
.back-cover {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center left;
  box-shadow: 13px 13px 8px 0px #000;
}
.pages-container{
  position:relative;
  width: 100%;
  height: 100%;
  padding: 2em 2em 2em 0;
}

.cover {
  z-index: 10;
  transition: all 3s;
}

.cover.flipped {
  transform: rotateY(-180deg);
  z-index: 0;
}

.back-cover {
  z-index: -2;
  background-color: #000;
}

#portada-back {
  background-color: black;
}

/* -------- PÁGINAS -------- */
.pages,
.last-page {
  position: absolute;
  width: 98%;
  height: 98%;
  transform-origin: center left;
  left: 0;
  transform-style: preserve-3d;
  border-radius: 2px 10px 10px 2px;
  transition: transform 0.5s ease;
  background-image: url("./assets/papertexture.jpg");
}

/* Estado de página vuelta */
.pages.flipped,
.last-page.flipped {
  transform: rotateY(-180deg);
  z-index: 2 !important;
}

/* Parte frontal y trasera */
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
}

.back {
  z-index: 0;
  transform: rotateY(180deg);
  border-right: 2px solid grey;
}

/* -------- SECCIONES -------- */
.portada-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 20px;
}

.pages-section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* .back .pages-section::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  background-color: red;
  top: 0;
  right: 0;
} */

.header_book {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_content_container {
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1lh;
  margin-left: 15px;
  padding-bottom: 5px;
}

.header_title {
  font-size: 100px;
  line-height: 1;
}

.header_title span {
  display: inline-block;
  font-size: 60px;
  color: rgba(126, 126, 126, 0.363);
  margin-left: 3px;
  transform: rotate(25deg);
}

.header_subtitle {
  font-size: 20px;
  text-transform: uppercase;
  color: #9c3fdf;
  opacity: 70%;
}

.image-container {
  width: 100%;
  height: 300px;
  margin: 5px 0;
  box-sizing: border-box;
  background-image: url("./assets/imagen.png");
  background-size: cover;
  background-position: left 15px center;
  background-repeat: no-repeat;
}

.footer {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.footer a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  color: #8c1c1c;
  border: 2px solid #8c1c1c;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.footer a:hover {
  color: white;
  background-color: #8c1c1c;
  border-color: #ff000069;
}

/* -------- TRANSICIONES INDIVIDUALES -------- */
.pages:nth-child(2) {
  transition-duration: 3s;
}
.pages:nth-child(3) {
  transition-duration: 2.6s;
}
.pages:nth-child(4) {
  transition-duration: 2.2s;
}

/* PAGES CONTENT */
.header_pages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 clamp(1rem, 4vw, 4rem) 1rem;
}

.h1-pages {
  font-family: "pretty";
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 32px;
}

.hrs {
  width: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.hrs hr {
  border: 1px solid black;
}
.hrs hr:first-child {
  width: 80%;
}
.hrs hr:last-child {
  width: 70%;
}

.footer-back-pages {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-front-pages {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-back-pages a {
  clip-path: var(--back-arrow);
}

.footer-front-pages a {
  clip-path: var(--front-arrow);
}

.pages-section footer {
  margin: 15px 0 10px;

  & a {
    display: inline-flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    margin: 0.25rem 0;
    padding: 0.25rem 1.5rem;
    color: #ffffff;
    background-color: #242424;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    font-size: 20px;

    &:hover {
      color: #9961d1;
      background-color: #111;
      cursor: pointer;
    }
  }
}

.content-pages {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-pages .rows{
    border:2px solid black

}


/* clamp(1rem, 4vw, 4rem) */
@media (width <= 850px) {
  .form-container {
    max-width: 90%;
  }
}


